[barotropic_gyre]

# Distance in kilometers between cell centers
resolution = 10

# Longitudinal domain length in kilometers
lx = 1000

# Latitudinal domain length in kilometers
ly = 1000

# Maximum amplitude of the zonal wind stress [N m-2]
tau_0 = 0.1

# Horizontal (Laplacian) viscosity [m2 s-1] (Munk no-slip)
nu_2 = 400.0

# Meridional gradient of the Coriolis parameter [s-1 m-1]
beta = 1.0e-10

# Coriolis parameter at the southern boundary [s-1] (Munk no-slip)
f_0 = 1.0e-3

# Homogeneous fluid density [kg m-3]
rho = 1000

# Gravitational acceleration [m s-2]
g = 9.80616

# Time integrator used by the forward run
time_integrator = RK4

# Duration of the forward spin-up [years]
run_duration = 2.0

[vertical_grid]

# The type of vertical grid
grid_type = uniform

# Number of vertical levels
vert_levels = 1

# Depth of the bottom of the ocean
bottom_depth = 5000.0

# The type of vertical coordinate (e.g. z-level, z-star)
coord_type = z-star

# Whether to use "partial" or "full", or "None" to not alter the topography
partial_cell_type = None

# The minimum fraction of a layer for partial cells
min_pc_fraction = 0.1

# The minimum number of vertical levels for z-star coordinate
min_vert_levels = 1

# Minimum thickness of each layer for z-star coordinate
min_layer_thickness = 0